<div class="row" style="margin-left:20px; background-color:yellowgreen; width:500px;">
  <button
    id="register"
    class=""
    style="padding:10px"
  ><a href="./RegisterAndLogin">Ro'yhatdan o'tish</a></button>
  <button
    id="signin"
    class=""
    style="padding:10px"
  >Mavjud akkauntga kirish</button>
</div>