<style>
    .letter {
        border: 1px solid black;
        width: 50px;
        border-radius: 10px;
    }
</style>
<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Search</a>
  </li>
  <li class="nav-item letter">
    <a class="nav-link" href="#">A</a>
  </li>
  <li class="nav-item letter">
    <a class="nav-link" href="#">B</a>
  </li>
  <li class="nav-item letter">
    <a class="nav-link">C</a>
  </li>
</ul>