<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link" href="#">Loyiha haqida</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active"  href="../author">Authorlar haqida</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Author bo'lish istagini bildirish</a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="#">Admin bo'lish istagini bildirish</a>
  </li>
</ul>