{{#if allCategory}}
  <ul>
    {{#each allCategory}}
      <li class="list-group-item">
        <a href="/dictionary/{{_id}}">{{category_name}}</a>
      </li>
    {{/each}}
  </ul>
{{else}}
  <h1>tugadi</h1>
{{/if}}