<div class="card" style="width: 18rem;">
  <img src="/" class="card-img-top" alt="..." />
  <div class="card-body">
    <h5 class="card-title">{{dictionary.term}}</h5>
    <p class="card-text">{{description.description}}</p>
    <p>{{author.author_first_name}}</p>
    <a href="#" class="btn btn-primary">Batafsil malumot</a>
  </div>
</div>